@import "tailwindcss";



html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

#root {
  max-width: 1600px;
  margin-inline: auto;
}

body {
  background-color: #070b12;
  color: white;
   font-family: "Inter", sans-serif;
}