@import "tailwindcss";

*{
    box-sizing: border-box;
}


body {
    background-color: #070b12;
    color: white;
    font-family: "Inter", sans-serif;
}

#root {
    width: 100%;
    min-height: 100vh;
}